*{
    padding:0;
    margin:0;
}

#container{
    background-image: url(/images/bg-pattern-top.svg);
    /* background-image: url(/images/bg-pattern-bottom.svg); */
    padding-top:50px;
}
.bottom{
    
}
#profile{
    display: grid;
    grid-template-rows: 40%  60%;
    height:400px;
    width:250px;
    margin:  auto;
    border-radius: 50px 50px;
    
}
#blue{
 background-image: url(/images/bg-pattern-card.svg);
}
img{
    font-size: small;
    top:-50%;
    border-radius:50%;
    border: 5px solid white;
    margin:30px 23% 0px 27%;
}
#whitte{
    background-color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-top:-50px;

}
p{
    padding:50px 0px 20px 65px;
    font-weight: bolder;
}
small{
    font-weight: 200;
    padding-left:10px;   
}
table{
    padding:0px 10px 0 15px;
}
th{
    padding:7px;
}
td{
    padding:0px 10px 0 16px;
    font-size: small;
}
#city{
    padding-left:100px;
}